[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
    url = https://github.com/QIanGua/hugo-ivy.git
[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
